@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:ital,wght@1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Abyssinica SIL', serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #5e7c64;
}
header {
    --text: #f4f4f4;
    --text-inverse: #333;
    --background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 3em; /* Adjusted padding for a shorter header */
    transition: background 250ms ease-in;
    background: var(--background);
    color: var(--text);
}

.logo {
    width: 100px; /* Adjusted logo width */
    cursor: pointer;
}

.navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
/* .navbar ul li{
    --spacing: 1em;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    padding: calc(var(--spacing) / 2) var(--spacing);
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9rem;
}*/
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(212, 221, 213);
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 1.5px;
    width: 0;
    background: #00881d;
    position: absolute;
    left: 0;
    bottom: -2.5px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.navscrolled {
    --text: rgb(24, 23, 23);
    --background: #a1a1a1;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}
.navbar.animate{
    top: -71px
}
.navbar.sticky{
    top: 0;
    z-index: 99;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("/img/background.jpg");
    background-size: cover;
    background-position: center;
}
.content{
    width: 100%;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    font-family: 'GFS Neohellenic', sans-serif;
}
.content h1{
    font-size: 55px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight:100;
    line-height: 25px;
    font-size: 20px;
}

section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.maintitle{
    font-size: 3em;
    margin-bottom: 30px;
    font-family: 'Abyssinica SIL', serif;
    color: #fff;
}
.periexomeno{
    position: relative;
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'GFS Neohellenic', sans-serif; 
}
.periexomeno .image{
    position: relative;
    width: 300px;
    height: 400px;
    overflow: hidden;
}
.periexomeno .image img{
    z-index: 111;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.periexomeno .textbox{
    z-index: 222;
    background: rgba(209, 34, 34, 0.1);
    backdrop-filter: blur(20px);
    padding: 20px;
    max-width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transform: translate(-40px, 20px);
}
.periexomeno .textbox h3{
    font-size: 1.5em;
    margin-bottom: 10px;
}
.containerContact{
    width: 90%;
    height: auto;
    margin: auto;
    /* margin-bottom: 20px; */
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #2e4132;
    box-shadow: 0px 0px 10px 0px #666;
}
.contactMap{
    flex: 1;
    text-align: center;
    padding: 30px;
}
.contactMap iframe{
    width: 100%;
    height: 300px;
}
.contactInfo {
    flex: 1;
    text-align: left;
    padding: 30px;
}

.contactInfo h3 {
    margin-bottom: 20px; /* Add some bottom margin for spacing */
}

.contactInfo p {
    margin-bottom: 15px;
}

/* Add media query for responsiveness */
@media (max-width: 768px) {
    .containerContact {
        width: 95%; /* Adjust for smaller screens */
    }
}